@{
    ViewBag.Title = "Live";
}

<body>
    <h3 style="align-content:center; padding-left: 40%; padding-top: 5%">Live View</h3>   
    <p> Product: </p>

    <div class="img-circle" style="object-position:right; padding-left: 80%; padding-top: 0%">
        <span class="filled-circle"></span>
    </div>

    <div class="jumbotron" style="height:300px">

    </div>

</body>



